
.vs/SysCore/v16/
SysCore.vcxproj
SysCore.vcxproj.filters
x64/Debug/serializer.obj
x64/Debug/SysCore.Build.CppClean.log
x64/Debug/SysCore.idb
x64/Debug/SysCore.lib.recipe
x64/Debug/SysCore.log
x64/Debug/SysCore.obj
x64/Debug/SysCore.pdb
x64/Debug/SysCore.tlog/CL.command.1.tlog
x64/Debug/SysCore.tlog/CL.read.1.tlog
x64/Debug/SysCore.tlog/CL.write.1.tlog
x64/Debug/SysCore.tlog/Lib-link.read.1.tlog
x64/Debug/SysCore.tlog/Lib-link.write.1.tlog
x64/Debug/SysCore.tlog/Lib.command.1.tlog
x64/Debug/SysCore.tlog/SysCore.lastbuildstate
x64/Debug/SysCore.vcxproj.FileListAbsolute.txt
x64/Debug/timer.obj
x64/Release/serializer.obj
x64/Release/SysCore.Build.CppClean.log
x64/Release/SysCore.lib.recipe
x64/Release/SysCore.log
x64/Release/SysCore.obj
x64/Release/SysCore.pdb
x64/Release/SysCore.tlog/CL.command.1.tlog
x64/Release/SysCore.tlog/CL.read.1.tlog
x64/Release/SysCore.tlog/CL.write.1.tlog
x64/Release/SysCore.tlog/Lib-link.read.1.tlog
x64/Release/SysCore.tlog/Lib-link.write.1.tlog
x64/Release/SysCore.tlog/Lib.command.1.tlog
x64/Release/SysCore.tlog/SysCore.lastbuildstate
x64/Release/SysCore.vcxproj.FileListAbsolute.txt
x64/Release/timer.obj
